.todos {
	align-content: center;
	max-width: 100%;
}

.todo-input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
}

.todo-input button {
	margin-left: 2%;
}

.label {
	margin-right: 2%;
}

.todo {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding: 3% 12%;
	background-color: #7aacd0;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.todo:nth-child(even) {
	background-color: #ADC6D8
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo.done .content {
	text-decoration: line-through;
}


