.todos {
	align-content: center;
	max-width: 100%;
}

.todo-input {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	margin: 3%;
}

.todo-input button {
	margin-left: 2%;
}

.label {
	margin-right: 2%;
}

.todo {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: space-between;
	padding: 3% 8%;
	margin: 1% 5%;
}

.todo:last-of-type {
	border-bottom: 0;
}

.todo.done .content {
	text-decoration: line-through;
}


